node_modules
/dist
/coverage

/.nuxt

# local env files
.env.local
.env.*.local
**/*.swp

# Log files
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# SSL stuffs
req.cnf
*.pem

# firebase
/.firebase
/firebase-*.log
